body {
  font-family: Arial;
  background-color: #1c215e;
}

.container {
    background-color: #5b64de;
    padding: 3px;
    padding-top: 0px;
    border: 4px solid #3e46a8;
    border-radius: 5px;
}

.title {
    font-size: 30px;
    padding-left: 12px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.sync-container {
    display: flex;
    padding-left: 11px;
}

.syncIcon-container {
    margin-left: auto;
    margin-right: 15px;
    margin-top: auto;
}

.syncBtn-container {
    padding-bottom: 2px;
    margin-bottom: auto;
}

.syncBtn {
    width: 60px;
    height: 30px;
    border-radius: 5px;
    font-size: 13px;
    border: 3px solid #1c215e;
    color: transparent;
    text-shadow: 0 0 #9fa6fc;
    background-color: #1c215e;
    transition: text-shadow 0.3s, background-color 0.3s;
}

.syncBtn:hover {
    background-color: transparent;
    text-shadow: 0 0 black;
}

.syncBtn:active {
    color: #3e46a8;
    border-color: #3e46a8;
}

.syncBtn:disabled {
    border-color: #555555;
    background-color: #555555;
    color: #dbdbdb;
}

.gradesTable {
    padding-left: 10px; 
    padding-right: 10px;
    width: 100%;
}
  
td, th {
    border: 1px solid #aaaaaa;
    text-align: left;
    padding: 8px;
    width: 30%;
}

.top {
  background-color: #bdbdbd;
}

.avg {
  background-color: #dedede;
  font-weight: bold;
}

.subject {
    background-color: #ffffff;
}

.rotation {
  animation-name: spinwait;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spinwait {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}
