body {
    font-family: Arial;
    background-color: #1c215e;
}

.login-form {
    text-align: center;
    border: 5px solid #3e46a8;
    border-radius: 10px;
    background-color: #5b64de;
    width: 600px;
    height: 400px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
    margin-top: 50px;
    font-size: 45px;
}

.input-group {
    text-align: center;
    position: relative;
    padding-top: 11px;
    padding-bottom: 13px;
    padding-left: 100px;
    padding-right: 100px;
    height: 200px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.user-input, .pw-input {
    position: absolute;
    display: block;
    color: #1c215e;
    border: 3px solid #1c215e;
    border-radius: 5px;
    background-color: #5b64de;
    outline: none;
    font-size: 16px;
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 12px;
    padding-bottom: 5px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

.user-input {
    margin-top: 10px;
}

.pw-input {
    margin-top: 70px;
}

.user-label, .pw-label {
    position: absolute;
    background-color: #5b64de;
    pointer-events: none;
    left: 0; 
    right: 0; 
    margin-left: 145px;
    width: 80px;
    transition: .25s;
    color: #1c215e;
}

.user-label {
    margin-top: 21px;
}

.pw-label {
    margin-top: 81px;
}

.user-input:focus+.user-label,
.user-input:valid+.user-label,
.pw-input:focus+.pw-label,
.pw-input:valid+.pw-label {
    color: #1c215e;
    background-color: #5b64de;
    transform: translate(-2px, -19px) scale(.8);
    padding-right: 5px;
    padding-left: 5px;
}

.user-input:-webkit-autofill,
.user-input:-webkit-autofill:hover, 
.user-input:-webkit-autofill:focus, 
.user-input:-webkit-autofill:active,
.pw-input:-webkit-autofill,
.pw-input:-webkit-autofill:hover, 
.pw-input:-webkit-autofill:focus, 
.pw-input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #5b64de inset !important;
}

.login-status {
    text-align: center;
    height: 70%;
}

.loading-dots {
    display: none;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24%;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #1c215e;
    color: #1c215e;
    animation: loading-dots 1s infinite linear alternate;
    animation-delay: .5s;
  }
  
  .loading-dots::before, .loading-dots::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
  }
  
  .loading-dots::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #1c215e;
    color: #1c215e;
    animation: loading-dots 1s infinite alternate;
    animation-delay: 0s;
  }
  
  .loading-dots::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #1c215e;
    color: #1c215e;
    animation: loading-dots 1s infinite alternate;
    animation-delay: 1s;
  }
  
  @keyframes loading-dots {
    0% {
      background-color: #1c215e;
    }
    50%,
    100% {
      background-color: #434bb5;
    }
  }

.login-failed {
    font-size: 14px;
    color: #9c0606;
    position: absolute;
    width: 300px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 23%;
}

.submitBtn {
    position: absolute;
    display: block;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 225px;
    height: 40px;
    border: 3px solid #1c215e;
    border-radius: 5px;
    color: transparent;
    text-shadow: 0 0 #9fa6fc;
    background-color: #1c215e;
    font-size: 16px;
    transition: text-shadow 0.3s, background-color 0.3s;
}

.submitBtn:hover {
    background-color: transparent;
    text-shadow: 0 0 black;
}

.submitBtn:active {
    color: #3e46a8;
    border-color: #3e46a8;
}

.submitBtn:disabled {
    border-color: #555555;
    background-color: #555555;
    color: #dbdbdb;
    cursor: not-allowed;
}
